
@import '~antd/dist/antd.css';

.card:hover{
    background: #f0f1f4;
}



.card {
    
    padding: 10px;
    height: 200px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    margin-top: 10px;
    align-content: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-color: white;
    border-radius: 8px;
    


}
.project-card:hover{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.project-card{
    height: 200px;
    width:200px;
    margin: 20px;
    
    
}

.card-design{
    height: 100%;
    float: left;
}
.card-personal-info{
    display: flex;
    height: 100%;
}

.card-personal-img{
    
    height: 20px;
    margin-top: 80px;
    border-radius: 50%;
    
}
p{
  font-family: Plus Jakarta Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;

}
.card-img{
    
    height: 100%;
    float: right;

}
.project-page {
    display: flex;
    

}
.project-container-card{
    
    box-sizing: border-box;
    display: flex;
    
    
    margin:10px;
    
}
/* .project-card-content{
    margin-left: 25%;
    
    display: flex;
} */
